body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    padding: 20px;
    margin: 0;
}

header {
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

h2 {
    text-decoration: underline;
    font-size: 1.5rem;
    color: #4f46e5;
}
#home-button{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-sheet {
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

}

.single-answer {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    padding: 20px;
}

.question {
    background-color: #fcdfe3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.answer {
    font-size: 16px;
    color: #374151;
}