@import '../../abstracts/variables';
@import '../../mixins/responsive';
@import '../../mixins/mix_font';
@import '../../mixins/mix_button';
@import '../../components/card';

main{ 
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 400px;
    @include custom_responsive(0px, 880px){
        grid-template-columns: 1fr; 
        gap: 30px;       
        align-items: center;
        justify-content: center;
    }
    #item-container{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        @include custom_responsive(0px, 780px){   
            justify-content: center;   
        }
    }
}