@import '../../abstracts/variables';
@import '../../mixins/responsive';
@import '../../mixins/mix_font';

body {

    #index-header{
        border-radius: 8px;
        background: rgba(16, 144, 216, 0.10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include custom_responsive(0px, 576px){
            display: grid;
            grid-template-columns: 1fr;   
            gap: 20px;     
        }
        #first-line{
        @include text_font (rgba(17, 17, 17, 0.8), 45px, 700);
        @include custom_responsive(0px, 540px){
            @include text_font (rgba(17, 17, 17, 0.8), 25px, 700);
        }
        }
        #second-line{
        @include text_font (rgba(17, 17, 17, 0.8), 30px, 500);
        @include custom_responsive(0px, 540px){
            @include text_font (rgba(17, 17, 17, 0.6), 20px, 700);
        }
        }
        button{
            width: 120px;
            height: 48px;
            flex-shrink: 0; 
            border-radius: 8px;
            background: $button_bg;    
            @include text_font(#fff, 20px, 700);                  
        }
    }
}