
    #result-box{
        width: 350px;
        height: 400px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        border-radius: 8px;
        background-color: pink;
        text-align: center;
        padding-top: 20px;
        #result-list{
           
        }
    }
